.demo-1 {
	--color-text: #fff;
	--color-bg: #000;
	--color-link: #fff;
	--color-link-hover: #ac1122;
	--color-info: #ac1122;
	--color-title: #fff;
	--color-subtitle: #fff;
	--color-subtitle-bg: #ac1122;
}

.vertical-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10rem;
	margin-left: 5rem;
	height: 50vh; 
  }

.content__title {
	font-family: 'Playfair Display', serif;
	font-size: 5rem;
	font-weight: normal;
	color: var(--color-title);
	text-align: center;
	margin: 0;
	pointer-events: none;
}

.content__subtitle {
	margin: 0;
	writing-mode: vertical-lr;
	text-orientation: mixed;
	font-size: 24px;

}

.content__subsubtitle {
	font-size: 0.8;
	background: var(--color-subtitle-bg);
	color: var(--color-subtitle);
	padding: 1.5em 1em;
	line-height: 1;
	margin: 0;
	letter-spacing: 0.5em;
	text-indent: 0.5em;
	font-weight: bold;
	text-transform: uppercase;
}

@media screen and (max-width: 55em) {
	.content__title {
		font-size: 3em;
	}

	.content__subtitle {
		font-size: 0.85em;
	}
}